html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 1px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email text "] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password confirmPassword"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.btn{
  margin:2rem auto;
  filter: drop-shadow(5px 5px 5px #222); 
}

.form-control{
  margin:0.7rem auto;
}
img{
  filter: drop-shadow(5px 5px 5px #222);
  width:100px;
  height:90px
}